*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #111;
}

ul{
    display: flex;
    justify-content: center;
    margin: 10rem auto;
    background: #111;
}

ul li{
    list-style: none;
}

ul li a{
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.active{
    background: #065FD4;
}